[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/rhtml"]
	path = lisp/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "lisp/rinari"]
	path = lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "lisp/git-gutter"]
	path = lisp/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "lisp/volatile-highlights"]
	path = lisp/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "lisp/coffee-mode"]
	path = lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
