[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/rhtml"]
	path = lisp/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "lisp/rinari"]
	path = lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "lisp/git-gutter"]
	path = lisp/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "lisp/volatile-highlights"]
	path = lisp/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "lisp/coffee-mode"]
	path = lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "lisp/helm"]
	path = lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lisp/ruby-end"]
	path = lisp/ruby-end
	url = https://github.com/rejeep/ruby-end.git
[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lisp/expand-region"]
	path = lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "lisp/yatex"]
	path = lisp/yatex
	url = https://github.com/emacsmirror/yatex.git
[submodule "lisp/wrap-region"]
	path = lisp/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "lisp/dash"]
	path = lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lisp/git-messenger"]
	path = lisp/git-messenger
	url = https://github.com/syohex/emacs-git-messenger.git
[submodule "lisp/popwin"]
	path = lisp/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "lisp/direx"]
	path = lisp/direx
	url = https://github.com/m2ym/direx-el.git
[submodule "lisp/dash-at-point"]
	path = lisp/dash-at-point
	url = https://github.com/stanaka/dash-at-point.git
[submodule "lisp/quickrun"]
	path = lisp/quickrun
	url = https://github.com/syohex/emacs-quickrun.git
[submodule "lisp/flycheck"]
	path = lisp/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule "lisp/s"]
	path = lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "lisp/undo-tree"]
	path = lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
